body{
    background-color: #bfcba8;
}

hr{
  
    border-color: #5b8a72;
    border-style: dotted none none ;
    border-width: 10px;
    height: 0px;
    width: 15%;
}
img{
    height: 290px;
    width: 250px;
}
h1,
h2,
h3{
    color: #56776c;
}