body{
    margin: 0;
    text-align: center;
    background-color:#a6d6d6;
}
h1{
    color: #440a67;
    font-family: 'Dancing Script', cursive;
    font-size: 300%;

}
h2,h3{
    color: #440a67;
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
    
}
.top-container{
   background-color:#a6d6d6;
   position: relative;
   padding-top: 100px;
}
.bottom-cloud{
    position: absolute;
    left: 30%;
    top: 150px;
}
.top-cloud{
    position: absolute;
    right: 30%;
    top: 70px;
}
p{
    font-family: 'Pangolin', cursive;
    font-size: 1.5rem;
}
.profile-img{
    width: 200px;
    height: 200px;
}
.skills-img{
    width: 200px;
    height: 200px;
}
.contact-img{
    width: 180px;
    height: 200px;
}