body{
    margin: 0;
    text-align: center;
    

}
h1,h2,h3{
    color: #440a67;
    font-family: 'Dancing Script', cursive;
    
}
.top-container{
   background-color:#a6d6d6;
   position: relative;
   padding-top: 100px;
}
.bottom-container{
    background-color: coral;
    width: 200px;
    height: 200px
}
.bottom-cloud{
    position: absolute;
    left: 30%;
    top: 150px;
}
.top-cloud{
    position: absolute;
    right: 30%;
    top: 70px;
}
p{
    font-family: 'Pangolin', cursive;
}
profile_img{
    width: 100px;
    height: 100px;
}